.LoginForm {
  font-family: "Vollkorn", serif;
  .ProfileBasic {
    Form {
      display: flex;
      flex-direction: column;
      padding: 10px;
      label {
        font-size: 20px;
      }
      input {
        padding: 5px;
        font-family: "Vollkorn", serif;
        outline: none;
        margin-bottom: 20px;
        border: none;
        font-size: 15px;
        cursor: pointer;
        color: white;
        border-radius: 5px;
        background-color: rebeccapurple;
      }

      div {
        display: flex;
        flex-direction: column;
        select {
          padding: 5px;
          font-family: "Vollkorn", serif;
          outline: none;
          margin-bottom: 20px;
          border: none;
          font-size: 15px;
          cursor: pointer;
          color: white;
          border-radius: 5px;
          background-color: rebeccapurple;
        }
      }
    }

    button {
      background-color: #dca355;
      border: none;
      font-family: "Vollkorn", serif;
      color: white;
      border-radius: 5px;
      padding-top: 5px;
      margin-left: 3px;
      font-style: normal;
      font-size: 25px;
      margin: 10px;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        color: white;
        background-color: #a57533;
      }
    }
  }
}
.AddDivination {
  Form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

    .textArea {
      font-family: "Vollkorn", serif;
      font-size: 15px;
      padding: 5px;
      display: flex;
      border-radius: 7px;
      border: none;
      cursor: text;
      width: 450px;
      height: 100px;
      resize: none;
      outline: none;
    }
    label {
      font-size: 20px;
    }
    .dropdown {
      padding: 5px;
      font-family: "Vollkorn", serif;
      outline: none;
      margin-bottom: 20px;
      border: none;
      font-size: 25px;
      cursor: pointer;
      color: white;
      border-radius: 5px;
      background-color: rebeccapurple;
    }

    div {
      display: flex;
      flex-direction: column;
      select {
        padding: 5px;
        font-family: "Vollkorn", serif;
        outline: none;
        margin-bottom: 20px;
        border: none;
        font-size: 15px;
        cursor: pointer;
        color: white;
        border-radius: 5px;
        background-color: rebeccapurple;
      }
    }
  }

  button {
    background-color: #dca355;
    border: none;
    font-family: "Vollkorn", serif;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    margin-left: 3px;
    font-style: normal;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      color: white;
      background-color: #a57533;
    }
  }
}
